* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 1200px;
    min-height: 100vh; /* 화면 높이를 채우도록 설정 */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container .mainPageCotainer {
    width: 100%;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

.container .mainPageCotainer .mainPage {
    font-size: 265px;
    text-decoration-line: none; /* 링크의 밑줄 제거 */
    color: inherit; /* 링크의 색상 제거 */
}

.container .mainPageCotainer .mainPage .emphasis {
    color: #A0A0A0;
}

.container .createAndDelete {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.container .createAndDelete .copy {
    width: 612px;
}

.container .createAndDelete .controlList {
    display: flex;
    list-style: none;
    font-size: 16px;
}

.container .createAndDelete .controlList li a,
.container .createAndDelete .controlList li button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.container .createAndDelete .controlList li a:hover,
.container .createAndDelete .controlList li button:hover {
    background-color: #f5f5f7;
} 

.container .createAndDelete .controlList li a {
    text-decoration-line: none;
    color: inherit;
}

.container .createAndDelete .controlList li button {
    border: none;
    background: none;
    cursor: pointer;
}

.controlImg {
    width: 30px;
    height: 30px;
}

.controlTitle {
    color: black;
    font-size: 16px;
    font-weight: 0;
    margin-left: 12px;
}

.topiceContainer {
    width: 100%;
}

.topiceContainer .topiceList {
    display: flex;
    flex-wrap: wrap; /* flex 아이템들이 넘칠 경우 줄바꿈 */
    list-style: none;
    padding: 0;
    margin: 0;
}

.topiceContainer .topiceList .topice {
    width: 240px; /* 기본 width 설정 */
}

.topiceContainer .topiceList .topice .topicLink {
    text-decoration-line: none; /* 링크의 밑줄 제거 */
    color: inherit; /* 링크의 색상 제거 */
}

.topiceContainer .topiceList .topice .topicLink .imgAndTitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    border-radius: 12px;
}

.topiceContainer .topiceList .topice .topicLink .imgAndTitle:hover {
    background-color: #f5f5f7;
}

.topiceContainer .topiceList .topice .topicLink .imgAndTitle .folder {
    width: 200px;
    height: 200px
}

.topiceContainer .topiceList .topice .topicLink .imgAndTitle .topiceTitle {
    font-size: 15px;
}

/* crate 페이지, update 페이지 CSS */
.createCotainer,
.updateCotainer {
    width: 400px;
    height: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column; /* 세로 방향으로 배치 */
    justify-content: center; /* 수직 가운데 정렬 */
    align-items: center; /* 수평 가운데 정렬 */
}

.createCotainer .createForm,
.updateCotainer .updataForm {
    width: 90%;
}

.createCotainer h2,
.updateCotainer h2 {
    margin-bottom: 30px;
    text-align: center;
}

.createCotainer input[type="text"],
.createCotainer input[type="number"],
.createCotainer input[type="submit"],
.updateCotainer input[type="text"],
.updateCotainer input[type="number"],
.updateCotainer input[type="button"] {
    width: 100%; /* 입력 필드의 너비를 100%로 유지 */
    max-width: 100%; /* max-width로 고정 */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 30px;
    background-color: #f9f9f9;
    font-size: 16px;
    box-sizing: border-box;
}

.createCotainer input[type="submit"], 
.updateCotainer input[type="button"]{
    background-color: #F2E70C;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.createCotainer input[type="submit"]:hover, 
.updateCotainer input[type="button"]:hover {
    background-color: #FFF80B;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox  */
input[type='number'] {
    -moz-appearance: textfield;
}

/* topice 페이지 CSS */
.container .testContainer {
    width: 100%;
    background-color: #F5F5F7;
    border-radius: 12px;
}

.container .testContainer h2 {
    text-align: center;
    padding: 40px 0;
}

.container .testContainer form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 40px;
}

.container .testContainer form .question {
    width: 400px;
    padding: 20px;
    border-radius: 12px;
    background-color: white;
}

.container .testContainer form .question .askNum {
    text-align: center;
    margin-bottom: 5px;
}

.container .testContainer form .question.green{
    background-color: #8DECB4;
}

.container .testContainer form .question.red{
    background-color: #FF8A8A;
}

.container .testContainer form .question .questionField {
    width: 100%;
    height: 300px;
    font-size: 13px;
    padding: 10px;
    border-radius: 12px;
    margin: 5px 0 10px 0;
    resize: vertical; /* 세로 방향으로만 크기 조절 가능하게 설정 */
}

.container .testContainer form .question .questionField.green {
    background-color: #8DECB4;
}
.container .testContainer form .question .questionField.red {
    background-color: #FF8A8A;
}

.container .testContainer form .question .answerField {
    width: 100%;
    height: 100px;
    font-size: 13px;
    padding: 8px;
    border-radius: 12px;
    margin-top: 5px;
    resize: vertical; /* 세로 방향으로만 크기 조절 가능하게 설정 */
    overflow-y: scroll; /* 스크롤 기능은 유지 */
    scrollbar-width: none; /* Firefox에서 스크롤바 숨김 */
}

textarea::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge에서 스크롤바 숨김 */
}

.container .testContainer form .question .answerField.green {
    background-color: #8DECB4;
}
.container .testContainer form .question .answerField.red {
    background-color: #FF8A8A;
}

.container .testContainer form .question .correctBtn {
    margin-top: 20px;
}

.container .testContainer form .question .correctBtn:first-child {
    border: 1px solid black;
}

.container .testContainer form .question .correctBtn button {
    width: 50%;
    color: black;
    font-weight: 600;
    background-color: white;
    padding: 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.container .testContainer form .question .correctBtn .correct.green {
    background-color: #8DECB4;
}

.container .testContainer form .question .correctBtn .rong.green {
    background-color: #8DECB4;
}

.container .testContainer form .question .correctBtn .correct.red {
    background-color: #FF8A8A;
}

.container .testContainer form .question .correctBtn .rong.red {
    background-color: #FF8A8A;
}

.container .testContainer form .question .correctBtn .correct:hover {
    color: white;
    background-color: #7fe0a7;
}

.container .testContainer form .question .correctBtn .rong:hover {
    color: white;
    background-color: #fc7575;
}

.container .testContainer form .buttonContainer {
    position: fixed;
    display: flex;
    bottom: 30px;
    right: 30px;
}

.container .testContainer form .buttonContainer .submitBtn,
.container .testContainer form .buttonContainer .calcBtn  {
    width: 40px;
    height: 40px;
    border: 1px solid #F5F5F7;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #dadcdf, 0 4px 8px 0 rgba(0, 0, 0, .1);
    color: black;
    font-weight: 0;
    background-color: white;
    cursor: pointer;
}

.container .testContainer form .buttonContainer .submitBtn:hover,
.container .testContainer form .buttonContainer .calcBtn:hover {
    background-color: #f1f1f1;
}

.container .testContainer form .buttonContainer .calcBtn {
    margin-right: 12px;
}

/* 계산 모달창 */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-overlay .modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.modal-overlay .modal-content button {
    margin-top: 15px;
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
/* footer */
.container .footer {
    text-align: center;
    padding: 12px;
    margin-top: auto;
    font-size: 13px;
}

.container .footer .footer-item {
    display: block;
}

@media (max-width: 1200px) {
    .container {
        max-width: 990px;
    }
    .container .mainPageCotainer .mainPage {
        font-size: 219px;
    }
    .topiceContainer .topiceList .topice {
        width: 198px;
    }

    .topiceContainer .topiceList .topice .topicLink .imgAndTitle .folder {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 990px) {
    .container {
        max-width: 770px;
    }

    .container .mainPageCotainer .mainPage {
        font-size: 170px;
    }
    .topiceContainer .topiceList .topice {
        width: 192.5px;
    }

    .topiceContainer .topiceList .topice .topicLink .imgAndTitle .folder {
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 770px) {
    .container {
        width: 100vw;
    }

    .mainPageCotainer .mainPage.behind {
        font-size: 22vw; 
    }
    
    .container .createAndDelete .copy {
        width: 100%;
        font-size: 13px;
    }

    .container .createAndDelete .controlList {
        font-size: 12px;
    }

    .controlImg {
        width: 20px;
        height: 20px;
    }
    
    .topiceContainer .topiceList .topice {
        width: 25vw;
    }
    
    .topiceContainer .topiceList .topice .topicLink .imgAndTitle .folder {
        width: 100%;
        height: 100%;
    }
    
    .topiceContainer .topiceList .topice .topicLink .imgAndTitle .topiceTitle {
        font-size: 1.8vw;
    }

    .container .testContainer {
        border-radius: 0;
    }
}

@media (max-width: 540px) {
    .container .createAndDelete {
        flex-direction: column;
    }

    .createCotainer {
        width: 100%;
        border: none;
        margin: 0 auto;
        box-shadow: none;
    }
    
    .container .testContainer form .question {
        width: 100%;
        border-radius: 0;
    }

    .buttonContainer {
        flex-direction: column;
        right: 10px !important;
    }

    .buttonContainer .calcBtn {
        margin-right: 0 !important;
        margin-bottom: 12px !important;
    }
}